.Rproj.user
.Rhistory
*.RData
.Ruserdata
.DS_Store
meta_analysis_sexual_selection_pop_fitness.html
meta_analysis_sexual_selection_pop_fitness.nb.html
meta_analysis_sexual_selection_pop_fitness_cache/
meta_analysis_sexual_selection_pop_fitness_files/
MA_Manuscript_Thesis.Rmd
MA_Manuscript_Thesis.docx
MA_Manuscript_Thesis.pdf
SS_Extinction.bib
.csl
.git.bfg-report/
/Manuscripts/References
supplementary_material_meta_analysis.html
Manuscripts/Manuscript_With_Major_Changes_Highlighted.Rmd
Manuscripts/Manuscript_With_Major_Changes_Highlighted.pdf
Manuscripts/Manuscript_MetaAnalysis.tex
Manuscripts/Manuscript_ChangesHighlighted.pdf
Manuscripts/Manuscript_ChangesHighlighted.Rmd
Manuscripts/Manuscript_ChangesHighlighted.tex
#Ignore the rds files
data/**/*.rds

#Ignore pdf supp info
PDF_RDS_files/
Supplementary_Information_PDF_Version_cache/
Supplementary_Information_PDF_Version_files/
Supplementary_Information_PDF_Version.*
