.Rproj.user
.Rhistory
*.RData
.Ruserdata
.DS_Store
meta_analysis_sexual_selection_pop_fitness.html
meta_analysis_sexual_selection_pop_fitness.nb.html
meta_analysis_sexual_selection_pop_fitness_cache/
meta_analysis_sexual_selection_pop_fitness_files/
MA_Manuscript_Thesis.Rmd
MA_Manuscript_Thesis.docx
MA_Manuscript_Thesis.pdf
SS_Extinction.bib
.csl
.git.bfg-report/
References/
